.topnav {
    flex: 0 1 60px;
    width: 100%;
    min-height: 60px;
    background-color: #203e2f;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 5px 5px 5px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: content-box;
}

.mobile {
    flex-flow: column wrap !important;
    gap: 0px;
}

.topnavMobile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbuttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

  /* Style the links inside the navigation bar */
.navbutton {
    padding: 10px;
    background-color: #203e2f;
    color: white;
    width:max-content;
    align-self: center;
    text-align:center;
    border: 0px solid #203e2f;
    transition-duration: 0.4s;
    font-size: 18px;
    font-weight: normal;
}

.homeLogoContainer {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.homeLogo {
    margin: 0;
    padding: 0;
    width: 45px;
    height: auto;
    transition-duration: 0.4s;
}

.homeLogo:hover {
    width: 50px;
}

.navbuttonDisplay {
    align-self: flex-start;
}

.navbuttonLarge {
    padding: 26px 30px;
    font-size: 32px;
}

.navbutton:hover, .navbuttonLogo:hover{
    font-weight: bold;
}

  
